.mam-user-selector-outer{
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    color: #333;

    *{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mam-user-select-com{
        .mam-user-select-area{
            width:100%;
            height:532px;
            display: -webkit-inline-flex;
            display: inline-flex;

            .mam-left-tree-area{
                width:200px;
                height:100%;
                border: 1px solid #ddd;
                -webkit-border-radius:4px;
                -moz-border-radius:4px;
                border-radius:4px;
                margin-right:10px;

                .mam-left-tree-view-content {
                    width: 100%;
                    height: auto;
                }

                .mam-left-tree-item-child {
                    width: 100%;
                    display: none;
                }

                .mam-left-tree-item {
                    width: 100%;
                    color: #333333;
                    overflow: hidden;
                    cursor: pointer;

                    .mam-left-tree-content{
                        width:100%;
                        display: inline-flex;
                        display: -webkit-inline-flex;

                        .mam-left-tree-ope {
                            width:20px;
                            height:20px;
                            text-align: center;
                            cursor: pointer;

                            &:before{
                                content: '';
                                width:0px;
                                height:0px;
                                border-top: 6px solid transparent;
                                border-bottom: 6px solid transparent;
                                border-left: 8px solid #333;
                                display: inline-block;
                            }
                        }
                        .mam-left-tree-open {
                            &:before{
                                -webkit-transform: rotate(90deg);
                                -moz-transform: rotate(90deg);
                                -ms-transform: rotate(90deg);
                                -o-transform: rotate(90deg);
                                transform: rotate(90deg);
                            }
                        }

                        .mam-left-tree-checkbox{
                            width: 16px;
                            height:20px;
                            text-align: center;

                            input[type=checkbox]{

                            }
                        }

                        .mam-left-tree-itemname{
                            flex:1;
                            -webkit-flex:1;
                            min-width: 0;

                            span {
                                display: block;
                                overflow: hidden;
                                white-space: nowrap;
                                -ms-text-overflow: ellipsis;
                                text-overflow: ellipsis;
                                padding-left: 3px;
                            }
                        }
                    }
                }

                .mam-left-tree-item-level2 {
                    border-left: 12px solid transparent;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
            }

            .mam-right-body-area{
                flex:1;
                -webkit-flex: 1;
                height:100%;

                .mam-top-search{
                    width:100%;
                    height:34px;
                    margin-bottom:10px;

                    input{
                        width:100%;
                        height:100%;
                        padding: 6px 12px;
                        font-size: 14px;
                        color: #555;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        outline: none;
                    }
                }

                .mam-user-items{
                    width:100%;
                    height:100%;
                    margin-top:-44px;
                    border-top:44px solid transparent;
                    margin-bottom:-40px;
                    border-bottom:40px solid transparent;
                    overflow-y: auto;

                    .mam-user-item{
                        width:50px;
                        height:70px;
                        display: inline-flex;
                        display: -webkit-inline-flex;
                        flex-direction: column;
                        margin-left: 12px;
                        margin-bottom:15px;
                        position: relative;
                        cursor: pointer;

                        &:hover{
                            .user-item-bottom-name{
                                color: #e98b11;
                            }

                            .user-item-top-img{
                                .user-item-check{
                                    display: block;
                                }
                            }
                        }

                        .mam-user-item-top-img{
                            width:100%;
                            flex:1;
                            -webkit-flex:1;
                            position: relative;

                            img{
                                width:100%;
                                height:100%;
                                -webkit-border-radius:25px;
                                -moz-border-radius:25px;
                                border-radius:25px;
                            }

                            .mam-user-item-check{
                                position: absolute;
                                width:100%;
                                height:100%;
                                left:0px;
                                top:0px;
                                background: rgba(0, 0, 0, 0.2);
                                -webkit-border-radius:25px;
                                -moz-border-radius:25px;
                                border-radius:25px;
                                display: none;

                                &:before{
                                    content: '\2713';
                                    font-size: 26px;
                                    position: absolute;
                                    left: 16px;
                                    top: 7px;
                                    color: #fff;
                                }
                            }
                        }
                        .mam-user-item-bottom-name{
                            width: 100%;
                            height: 20px;
                            font-size: 12px;
                            line-height: 20px;
                            text-align: center;
                        }
                    }
                    .mam-user-item-on{
                        .mam-user-item-bottom-name{
                            color: #e98b11;
                        }

                        .mam-user-item-top-img{
                            .mam-user-item-check{
                                display: block;

                                &:before {
                                    color: #e98b11;
                                }
                            }
                        }
                    }
                }

                .mam-bottom-pager{
                    width:100%;
                    height:40px;
                    line-height: 40px;

                    .mam-right-body-pager{
                        width:auto;
                        height:100%;
                        float: right;

                        .mam-total-count{
                            margin: 0px 2px 0px 2px;
                            color: #e98b11;
                        }

                        .mam-total-page{
                            margin-right:10px;
                        }

                        .mam-page-btn{
                            padding: 6px 6px;
                            text-decoration: none;
                            cursor: pointer;

                            &:hover{
                                color: #e98b11;
                            }
                        }
                        .mam-page-btn-current{
                            font-weight: bold;
                            padding: 6px 6px;
                            text-decoration: none;
                            cursor: default;
                            color: #e98b11;
                        }
                    }
                }
            }
        }
    }
    .mam-mask{
        background-color: #000;
        opacity: 0.5;
        filter: alpha(opacity=50);
        z-index: 10000;
        position: fixed;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        display: none;
    }

    .mam-dialog-box{
        position: fixed;
        left:50%;
        top:50%;
        width: 686px;
        height:685px;
        margin-left:-343px;
        margin-top:-342px;
        z-index: 10001;
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        $br : 5px;
        border-bottom-left-radius: $br;
        -moz-border-radius-bottomleft: $br;
        -webkit-border-bottom-left-radius: $br;
        border-bottom-right-radius: $br;
        -moz-border-radius-bottomright: $br;
        -webkit-border-bottom-right-radius: $br;
        display: none;

        .mam-dialog-header{
            width:100%;
            height:56px;
            background: #212121;
            color: #fff;
            padding: 15px;

            .mam-dialog-title{
                font-size:18px;
            }

            .mam-dialog-close{
                width: 26px;
                height: 26px;
                display: block;
                float: right;
                background: url("../images/close.png") no-repeat center;
                cursor: pointer;
                -webkit-transition: -webkit-transform 300ms;
                -moz-transition: -moz-transform 300ms;
                -ms-transition: -ms-transform 300ms;
                -o-transition: -o-transform 300ms;
                transition: transform 300ms;
                
                &:hover{
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }

        .mam-dialog-body{
            padding: 15px;
            width:100%;
            background: #fff;
        }

        .mam-dialog-bottom{
            min-height: 65px;
            text-align: center;
            padding: 15px;
            border-top: 1px solid #e5e5e5;
            background: #fff;
            $br : 5px;
            border-bottom-left-radius: $br;
            -moz-border-radius-bottomleft: $br;
            -webkit-border-bottom-left-radius: $br;
            border-bottom-right-radius: $br;
            -moz-border-radius-bottomright: $br;
            -webkit-border-bottom-right-radius: $br;

            @mixin dialog-bottom-btn(){
                margin: 0 15px;
                display: inline-block;
                padding: 6px 12px;
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-border-radius:3px;
                -moz-border-radius:3px;
                border-radius:3px;
                -webkit-transition: -webkit-box-shadow 200ms;
                -moz-transition: -moz-box-shadow 200ms;
                -ms-transition: box-shadow 200ms;
                -o-transition: box-shadow 200ms;
                transition: box-shadow 200ms;

                &:hover{
                    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
                }
            }

            .mam-dialog-bottom-ok{
                background-color: #e98b11;
                border: #d17d0f 1px solid;
                color: #fff;
                @include dialog-bottom-btn();
            }

            .mam-dialog-bottom-cancel{
                border:#d1d1d1 1px solid;
                background: #f7f7f7;

                &:hover{
                    background-color: #eaeaea;
                    border-color: #c4c4c4;
                    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
                    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
                    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.125);
                }
                @include dialog-bottom-btn();
            }
        }
    }
}